<div>
  <div>

    <div class="builder-container ">
      <div class="step-title">
        <span >{{stepTitle()}}</span>
      </div>
    <div *ngFor="let char of chars" class="step-container step-one {{getActive(0)}}">

        <button type="button" style="" (click)="selectClass(char)">
          {{char.name}}

        </button>
    </div>
    <div class="step-container step-two {{getActive(1)}}">
      <form>
        <select (change)='logChange($event)'>
          <option  *ngFor="let opt of campaignTypes" [value]="opt.value" >{{opt.name}}</option>
        </select>
      </form>
      <button (click)="resetBuild()">Return</button>
    </div>
    </div>

  </div>
</div>
